:root {
  --light-background: #ffffff;
  --primary-color: #0c2c38;
  --accent-color: #4bd2ff;
  --primary-color-blur: rgb(12, 44, 56, 0.5);
  --secondary-color: #fdfdfd;
  --primary-text-color: #0c2c38;
  --secondary-text-color: #fdfdfd;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background: var(--secondary-color);
}

h1,
h2 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 4.6rem;
  line-height: 53px;
}
h2 {
  font-size: 3.6rem;
}
h1,
h2,
h3 {
  color: var(--primary-text-color);
}
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p,
a,
li {
  font-size: 1.8rem;
}

@media screen and (max-width: 414px) {
  h1 {
    font-size: 3rem;
    line-height: 30px;
  }
  h2 {
    font-size: 2.6rem;
  }
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
